body{
    background-color:aqua;
}

#percentage-finder {
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #0a3718;
  }
  
  button {
    width: 100px;
    margin: 10px;
    padding: 10px;
    background-color: #098207;
    color: #97eaa6;
    border: none;
    cursor: pointer;
  }
  
  